body{
  background-color: aliceblue;
}
.row{
  
  display: flex;
}
.header{
    background-color:rgb(238, 107, 14);
    height: 100px;
    width: 100vw;
    position: relative;

}

.top-menu{
    position: absolute;
    display: flex;
    color: white;
    left: 10%;
    padding: 2px;
    font-size: 13px;

}

.menu{
      text-decoration: none;
      color: white;
      padding-left: 13px;
      

}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
    width: 400px;
  }

  .dropdown-content a{
    text-decoration: none;
    color: black;
    line-height: 30px;
  }

  .dropdown-content a span:hover{
    color: chocolate;
    border-bottom: 0.5px solid chocolate;
  }

  
  .dropdown-content a i:hover{
    border-bottom: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .menu:hover{
    color: bisque;
  }


  .d-logo{
    position: absolute;
    height: 50px;
    top: 25%;
    left: 11%;
  }

  .search input{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 700px;
    height: 35px;
    border-radius: 10px;
    border: none;
  }

  .search img{
    position: absolute;
    height: 25px;
    border-radius: 10px;
    top: 44%;
    right: 34%;
    width: 40px;
    background-color: rgba(238, 145, 78, 0.215);
    border: none;

  }


  .control{
    position: absolute;
    top: 43%;
    right: 22%;
  }

  .control a{
    text-decoration: none;
    color: #f9f9f9;
    padding: 10px;
  }

  .control i{
    padding: 5px;
  }

  .dropdown1{
    position: absolute;
    top: 40%;
    right: 15%;
    
  }

  .dropdown-item{
    text-align: center;
  }


  .cart{
    position: absolute;
    top: 43%;
    right: 12%;
    
    
  }

  .cart path{
    color: #f9f9f9;
    
  }


  /* end top menu*/

  .row{
    display: flex;
  }
   .col11{
   
    height: 330px;
   }
  .col22{
     background-color:white ;
     width: 230px;
     height: 350px;
     margin-left: 260px;
     border-radius: 10px;
     margin-top: 10px;
     line-height: 28px;
     border: 1px solid rgba(91, 91, 88, 0.34);
  }

  .col22 a{
      text-decoration: none;
      color: rgb(84, 79, 79);
      margin-left: 15px;
      margin-top: 10px;
      gap: 10px;
  }

  .col22 a:hover{
        
         color: chocolate;
         
  }


  .col33{
    width: 900px;
    margin-top: 20px;
    height: 330px;
  }


  /* slider end */


  .ban-1{
    margin-top: 30px;
    justify-content: center;
    display: flex;
  }
  
  .row2{
    display: flex;
    position: relative;
  }

  .ban-1 img{
    width: 1000px;
    height: 200px;
    border-radius: 15px;
    border: 5px solid rgba(199, 94, 8, 0.539);
  }


  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blink-btn {
    animation: blink 2s infinite;
    height: 30px;
    width: 150px;
    background-color: rgb(130, 27, 226);
    color: #f9f9f9;
    position: absolute;
    right: 20%;
    top: 50%;
    border: none;
    border-radius: 15px;
  }


  .row3{
    position: relative;
    display: flex;
    padding: 20px;
  }
 .cmm{
  position: absolute;
  
 }
  .menu-3 {
    background-color:rgba(210, 105, 30, 0.114);
    padding: 10px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .menu-3 a{
    justify-content: center;
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }

  .menu-3 span{
    padding: 10px;
    color: rgba(54, 54, 36, 0.153);
  }

  .menu-3:hover{
    background-color: rgba(210, 105, 30, 0.295);
  }

.row4{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #f3e9e9;
  margin-left: 160px;
  margin-right: 130px;
  border-radius:10px ;
  
}


.row4 img{
  height: 120px;
  padding: 15px;
  

}

.k{
  background-color:#f3e9e9 ;
}



.k span{
  display: flex;
  margin-top: 0px;
  justify-content: center;
  background-color:#f3e9e9 ;
  
}

.countdown {
  font-size: 2em;
  color: red;
  
 }

 .row55{
  position: relative;
  margin-right: 130px;
  margin-left:140px;
  border-radius: 10px;
  background-color:#f9f9f9;
  top: 50px;
 }

 .card-top{
  display: flex;
 padding:10px;
 }


 .card-top p{
  position: absolute;
  left:2% ;
  top: 20px;
  color: chocolate;
 }
  
 #countdown {
  position: absolute;
  left: 15%;
  top: 20px;
  color: chocolate;
  font-size: 25px;
  font-size: 1em;
 
}

 .card-top button{
  position: absolute;
  right: 5%;
  top: 15px;
  border: none;
  background-color: transparent;
  color: chocolate;
  border: 1px solid chocolate;
  padding:5px ;
  border-radius: 2px;
  width: 150px;
 }
 
 .card2{
  display: flex;
  margin-top: 50px;
  padding: 20px;
  
 }

 .card{
  padding: 10px;
  border: none;
 }

 .card:hover{
  border: 1px solid rgba(128, 128, 128, 0.187);
  box-shadow: 0 4px 8px rgba(5, 232, 115, 0.623);
 }


 .flashsale{
  position: absolute;
  top: 111%;
 }



 .row66{
  display: flex;
  position: relative;
  margin-top: 100px;
  justify-content: center;
 }

 .cata{
  position: absolute;
  margin-top:40px;
 margin-left: 150px;
 font-size: 30px;
 color: rgba(57, 69, 80, 0.477);
 
 }

 .cat{
  border-left: 1px solid gainsboro;
 }

.cat:hover{
  box-shadow: 0 2px 8px rgba(5, 232, 115, 0.623);
}
 .cat img{
  height: 150px;
  width: 150px;
 }

 .cat p{
  text-align: center;
  background-color:#f9f9f9;
 }


 

 .row444 h2{
  position: absolute;
  margin-top: 10px;
  left: 10%;
  color: rgba(77, 75, 73, 0.363);
 }

.card22{
  display: flex;
  position: absolute;
  left: 10%;
  margin-top: 60px;
  padding: 10px;
  background-color: #f5eded94;

}


.card1{
  padding: 5px;
  
  
}

.card1 p{
  background-color:rgba(244, 231, 215, 0.493) ;
}


.card1:hover{
  border: 1px solid rgba(128, 128, 128, 0.187);
  box-shadow: 0 4px 8px rgba(5, 232, 115, 0.623);
 }

.row777{
  position: absolute;
  
}
 .lode-more button{
  background-color: transparent;
  color: chocolate;
  border: none;
  border: 1px solid chocolate;
  width: 450px;
  height: 40px;
  margin-top: 500px;
  margin-left: 40%;
  
 }


 .row00{
  display: flex;
  margin-left: 150px;
  margin-right: 400px;
 }


 .headerr h4{
  color: chocolate;
  padding-top: 10px;
 }

 .headerr a{
  text-decoration: none;
  color: black;
 }
 
 .headerr a:hover{
  border-bottom: 1px solid black;
 }


 .headerr span:hover{
  border-bottom: 1px solid black;
 }

 .png img{
  padding: 5px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color:white;
 }


.foot-icon a{
   text-decoration: none;
}


.row99{
  display: flex;
  margin-left: 150px;
  margin-right: 350px;
  
}



.row090 h6{
  
  text-align: center;
  
}



  